<a href="http://localhost:5000/#/position/{{id}}/info" title="Click here to go to the employee page" data-status="{{status}}">
    <img src={{photo}}>
    <h1>{{namesEng}}</h1>
    <h2>{{namesRus}}</h2>
    <p><img src="http://localhost:4000/icons/department.png"><span>{{department}}</span></p>
    <p><img src="http://localhost:4000/icons/project.png"><span>{{project}}</span></p>
    <p class="position"><img src="http://localhost:4000/icons/position.png"><span>{{position}}</span></p>
    <p class="phone__mob"><img src="http://localhost:4000/icons/phoneMob.png"><span>{{phoneMob}}</span></p>
    <p class="phone__stat"><img src="http://localhost:4000/icons/phoneStat.png"><span>{{phoneStat}}</span></p>
</a>